<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"   
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"   
  

  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"   
  

  IgnorableNamespaces="uap mp uap3 desktop4 iot2 iot">

  <Identity
    Name="30868ItzBluebxrry.RadonBrowserDev"
    Publisher="CN=EAB9B2B6-6338-4C0C-A002-D1666231438D"
    Version="1.14.17.0" />

  <mp:PhoneIdentity PhoneProductId="60865762-084f-44cb-a356-f22b38e6d2ff" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Radon Browser Halo Preview</DisplayName>
    <PublisherDisplayName>ItzBluebxrry</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Project_Radon.App"
	  desktop4:SupportsMultipleInstances="true"   
      iot2:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="Radon Browser Halo Preview"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Radon is a sleek, elegant-looking browser that is designed to meet the Fluent design principle- promising an intuitive and delightful user interface for your Windows device. Built natively UWP-based, Radon gives you a blazing fast browsing experience- anywhere, anytime." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Radon Browser Halo">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="radon">
            <uap:DisplayName>Project Radon</uap:DisplayName>
            <uap:Logo>Project Radon.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="voipCall"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <iot:Capability Name="systemManagement"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="location"/>
    <DeviceCapability Name="microphone"/> 
  </Capabilities>
</Package>